@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

@{ViewBag.Title = "Index";}


<h2>Football</h2>

@{

    var client = new WebClient();
    client.Headers.Add("X-Auth-Token", "ea93b0d4d7724762b54ece5762079114");
    var response = client.DownloadString(new Uri("http://api.football-data.org/alpha/soccerseasons/354/teams"));



    var j = JsonConvert.DeserializeObject<WebApplication.Models.Rootobject>(response);


    <div class="row">

        @foreach (WebApplication.Models.Team team in j.teams.OrderBy(t => t.name))
        {

            //Get Numerical Code To ID Team
            int TeamID = Convert.ToInt32(team._links.self.href.Split('/').Last());

            <div class="col-md-3">
                <div class="thumbnail text-center">
                    <a href="@Url.Action("Details", new { id = TeamID, name = team.name })" class="text-center">
                        <img src="@team.crestUrl"  style="max-height:200px" />
                        </a>
                        <div class="caption">
                            <h4>@team.name</h4>
                            <p>@team.code</p>
                            <p>@Html.Raw(team.squadMarketValue.ToString())</p>


                            <p>
                                @Html.ActionLink("Read More", "Details", new { id = TeamID, name = team.name }, new { @class = "btn btn-primary" })
                            </p>
                        </div>
</div>
            </div>
        }

    </div>
    //I've added this to clean up?
    client.Dispose();
}



